@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 242, 255);
    font-family: 'Dosis', sans-serif;
}

/* Header styling */
.header {
    background-color: rgb(255, 251, 252);
    min-height: 70px;
    width: 100%;
    padding:20px 30px;
    font-size: 20px;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.logo {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
}

.header-right a:hover, .hero-button a:hover {
    background-color: rgb(134, 26, 129);
    color: white;
}

/* Hero section styling */
.hero-section {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/runnyrem-LfqmND-hym8-unsplash.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Eagle Lake', cursive;
}

.hero-text, .section-title {
    padding: 50px;
    padding-left: 150px;
    text-align: left;
    font-size: 65px;
    color: white;
}

.small-hero-text {
    padding-bottom: 30px;
    font-size: 20px;
}

.hero-button {
    padding-top: 80px;
    font-size: 20px;
}

.hero-button a {
    transition: all 1s;
}

.hero-button a {
    background-color: rgb(255, 224, 255);
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 10px 0;
    color: #000;
    text-decoration: none;
}

/* Booking section styling */
.booking-main {
    margin: 20px 0 80px 0;
}

.booking-section {
    background-color: rgb(255, 224, 255);
    width: 70%;
    height: 110px;
    margin: 20px auto 0 auto;
    left: 0;
    right: 0;
    border-radius: 15px 0;
    display: grid;
    grid-template-columns: 3;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.5);
}

.booking-section a {
    text-decoration: none;
    color: black;
}

.check-in-sec, .check-out-sec {
    padding: 20px;
    font-size: 23px;
    font-weight: bold;
}

.check-in-sec {
    grid-column: 1;
}

.check-in-sec input, .check-out-sec input {
    border-radius: 5px;
    height: 30px;
    width: 180px;
    border: rgb(226, 226, 226) solid 2px;
}

.check-in-sec div, .check-out-sec div {
    padding-bottom: 5px;
}

.check-out-sec {
    grid-column: 2;
}

.book-btn {
    background-color: rgb(134, 26, 129);
    grid-column: 3;
    text-align: center;
    margin: 26px 15px;
    border-radius: 10px 0;
    font-size: 23px;
    font-weight: bolder;
}

.book-btn a {
    position: relative;
    margin: 10px;
    top: 23%;
    height: 40px;
    color: white;
}

/* Services section */
.service-section {
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 242, 255, 1), rgb(165, 62, 160));
}

.section-title {
    margin: 0px;
    padding-bottom: 0;
    font-family: 'Eagle Lake', cursive;
    color: black;
    font-size: 50px;
}

.services-section-grid {
    display: grid;
    max-width: 80%;
    margin-left: 135px;
    margin-top: 20px;
    grid-template-columns: 3;
}

.services-section p {
    margin-left: 50px;
}

.serviceOne, .serviceTwo, .serviceThree, .serviceFour, .serviceFive, .serviceSix {
    margin: 20px;
    justify-content: space-evenly;
    text-align: left;
}

.serviceOne {
    grid-row: 1;
    grid-column: 1;
}

.serviceTwo {
    grid-row: 1;
    grid-column: 2;
}

.serviceThree {
    grid-row: 1;
    grid-column: 3;
}

.serviceFour {
    grid-row: 2;
    grid-column: 1;
}

.serviceFive {
    grid-row: 2;
    grid-column: 2;
}

.serviceSix {
    grid-row: 2;
    grid-column: 3;
}

/* Rooms section styling */
.room-section {
    margin-top: 0;
    background-image: linear-gradient(to top, rgba(255, 242, 255, 1), rgba(165, 62, 160));
}

.section-title-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 70px;
    margin-left: 155px;
    margin-right: 110px;
    align-content: space-evenly;
    justify-content: space-between;
}

.section-desc {
    margin-left: 155px;
    margin-right: 110px;
    text-align: justify;
    font-size: 20px;
}

.roomOne, .roomTwo, .roomThree {
    width: 100%;
    background-color: rgb(255, 235, 255);
    border-radius: 15px 0;
    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
}

.roomOne:hover, .roomTwo:hover, .roomThree:hover {
    background-color: rgb(255, 245, 255);
    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.7);
}

.roomOne div, .roomTwo div, .roomThree div {
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0;
    margin-bottom: 20px;
}

.roomOne div {
    background-image: url("images/room_one.jpg");
}

.roomTwo div {
    background-image: url("images/room_two.jpg");
}

.roomThree div {
    background-image: url("images/room_three.jpg");
}

.roomOne a, .roomTwo a, .roomThree a {
    font-size: 20px; font-weight: bold; padding-bottom: 0;
    padding: 15px 15px;
    text-decoration: none;
    color: black;
}

.roomOne p, .roomTwo p, .roomThree p {
    padding: 15px;
    font-size: 18px;
}

/* About Us Section, Contact Us Section Styling */
.about-us {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, rgba(255, 242, 255, 1), rgba(165, 62, 160));
}

.about-us div, .contact-us div {
    margin: 0 110px 0 155px;
    padding-bottom: 20px;
    font-size: 20px;
}

.contact-us {
    padding-top: 45px;
    padding-bottom: 70px;
    background-image: linear-gradient(to top, rgba(255, 242, 255, 1), rgba(165, 62, 160));
}